.track_container {
    all: unset;
    display: flex;
    margin: 1em 0;
    padding: 0.5em;
    cursor: pointer;
}

.track_container:hover {
    background-color: #2C2C2C;
    border-radius:10px
}

.text_container {
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}