.caption {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.caption2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

.headline {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}

.callout {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.callout2 {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #929292;
}